<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SomTimer</title>
    <link rel= "stylesheet" type= "text/css" href="../static/styles/mainpage.css">
  </head>
  <body>
    <h1>Som Timer Endpoints</h1>
    <div class="get_one_timer_for_user">
      <h3>GET  '/api/users/:user_id/timer'</h3>
        <p class="sub_header">Response:</p>
        <pre>
          <p class="code_block">
            {
              "id": 1,
              "work_interval": "25:00",
              "rest_interval": "5:00"
              "sound": "reverbSplash",
              "mood": true,
              "user_id": <user_id>
            }
          </p>
        </pre>
    </div>
    <div class="update_create_timer_for_user">
      <h3>PUT  '/api/users/:user_id/timer'</h3>
      <p>If a user already has a timer, the settings of that timer will be updated. If not, a new timer with the appropriate settings will be created.</p>
      <p class="sub_header">Request Body:</p>
        <pre>
          <p class="code_block">
            {
              "work_interval": "30:00",
              "rest_interval": "7:00",
              "sound": "gong",
              "mood": False
            }
          </p>
        </pre>
      <p class="sub_header">Response:</p>
        <pre>
          <p class="code_block">
            {
              "id": 1,
              "work_interval": "30:00",
              "rest_interval": "7:00",
              "sound": "gong",
              "mood": false,
              "user_id": <user_id>
            }
          </p>
        </pre>
    </div>

    <div class="rand_exercise">
      <h3>GET  '/api/rand_exercise'</h3>
      <pre>
          <p class="sub_header">Required Query Params:</p>
          <p class="code_block">
            * duration = 5:00, 7:00, 10:00
            * category = SOMATIC, MOVEMENT, MEDITATION
          </p>
          <p class="sub_header">Ex:</p>
          <p class=code_block>
            '<root_path>/api/rand_exercise?duration=10:00&category=SOMATIC'
          </p>
            <p class="sub_header">Response:</p>
            <p class="code_block">
              {
                "id": 21,
                "url": "http://www.youtube.com/superrelaxinvibes",
                "duration": "5:00",
                "category": "SOMATIC"
              }
            </p>
        </pre>
      </div>

      <div class="rests_for_user">
        <h3>GET  '/api/users/:user_id/rests'</h3>
        <p class="sub_header">Response:</p>
          <pre>
            <p class="code_block">
              {
                count: <number of rests>,
                rests: [
                {
                  "id": 1,
                  "mood_rating_1": 3,
                  "mood_rating_2": 5,
                  "content_selected": "MOVEMENT",
                  "focus_interval": "25:00",
                  "rest_interval": "5",
                  "user_id": <user_id>
                },
                ...]
              }
            </p>
          </pre>
      </div>

      <div class="single_rest_for_user">
        <h3>GET  '/api/users/:user_id/rests/:rest_id'</h3>
        <p>rest_id = 1</p>
        <p class="sub_header">Response:</p>
          <pre>
            <p class="code_block">
              {
                "id": 1,
                "mood_rating_1": 3,
                "mood_rating_2": 5,
                "content_selected": "MOVEMENT",
                "focus_interval": "25:00",
                "rest_interval": "5",
                "user_id": <user_id>
              }
            </p>
          </pre>
      </div>

      <div class="create_rest_for_user">
        <h3>POST  '/api/users/:user_id/rests'</h3>
        <p class="sub_header">Request Body:</p>
          <pre>
            <p class="code_block">
              {
                "mood_rating_1": 2,
                "mood_rating_2": 5,
                "content_selected": "SOMATIC",
                "focus_interval": "45:00",
                "rest_interval": "10",
                "user_id": <user_id>
              }
            </p>
          </pre>
        <p class="sub_header">Response:</p>
          <pre>
            <p class="code_block">
              {
                "id": 2,
                "mood_rating_1": 2,
                "mood_rating_2": 5,
                "content_selected": "SOMATIC",
                "focus_interval": "45:00",
                "rest_interval": "10",
                "user_id": <user_id>
              }
            </p>
          </pre>
      </div>

      <div class="all_users">
        <h3>GET  '/api/users'</h3>
        <p class="sub_header">Response:</p>
          <pre>
            <p class="code_block">
              {
                count: <number of users>,
                users: [
                {
                  "id": 1,
                  "user_name": "Bugs Bunny",
                  "email": "bb@gmail.com"
                },
                {
                  "id": 2,
                  "user_name": "Taz",
                  "email": "taz@gmail.com"
                },
                ...]
            </p>
          </pre>
      </div>

      <div class="user_by_id">
        <h3>GET  '/api/users/:user_id'</h3>
        <p> id = 1 </p>
        <p class="sub_header">Response:</p>
          <pre>
            <p class="code_block">
              {
                "id": 1,
                "user_name": "Bugs Bunny",
                "email": "bb@gmail.com"
              }
            </p>
          </pre>
      </div>

      <div class="create_user">
        <h3>POST  '/api/users'</h3>
        <p> ** Will not create a user if that users email is already in the db ** </p>
        <p class="sub_header">Request Body:</p>
          <pre>
            <p class="code_block">
              {
                "user_name": "Princess Peach",
                "email": "p.peach@gmail.com"
              }
            </p>
          </pre>
        <p class="sub_header">Response:</p>
          <pre>
            <p class="code_block">
              {
                "id": 3,
                "user_name": "Princess Peach",
                "email": "p.peach@gmail.com"
              }
            </p>
          </pre>
      </div>
  </body>
</html>
